<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Nuevo huesped</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input formControlName="person.name" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Teléfono celular</ion-label>
    <ion-input formControlName="person.phone" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha inicio</ion-label>
    <ion-datetime-button datetime="fechaInicio"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime formControlName="person.fechaInicio" presentation="date" id="fechaInicio"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  <ion-item>
    <ion-label>Fecha fin</ion-label>
    <ion-datetime-button datetime="fechaFin"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime formControlName="person.fechaFin" presentation="date" id="fechaFin"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  <ion-item>
    <ion-label>Habitación</ion-label>
    <ion-select formControlName="habitación" placeholder="">
      <ion-select-option value="a1">A1</ion-select-option>
      <ion-select-option value="a2">A2</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button (click)='addPerson()' expand="block" fill="clear" shape="round">
    Guardar
  </ion-button>
</ion-content>
