<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-img id="headerLogo" src="/assets/images/logo.png" size="xs"></ion-img>
      <ion-label id="headerTitle" align-self-end>INFORMACION DE INGRESO</ion-label>  
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  
  <div id="container">
    <form >
      <div class="formulario">
        <h1>UBICACION</h1>
        <div class="slider-container">  
          <img
            class="slider-item"
            src="/assets/images/logo.png"
          />
          <img
            class="slider-item"
            src="/assets/images/hotel.PNG"
          />
        </div>
        <h2>Ubicado a las orillas de la Laguna de Santa María del Oro, que se formó en el cráter de un volcán 
            dormido, Santa María Resort es un complejo turístico estilo "Boutique". </h2>
        
      </div>
    </form>
  </div>
</ion-content>
