<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-img id="headerLogo" src="/assets/images/logo.png" size="xs"></ion-img>
      <ion-label id="headerTitle" align-self-end>INFORMACION DE INGRESO</ion-label>  
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  
  <div id="container">
    <form >
      <div class="formulario">
        <h1>UBICACION</h1>
        <div class="slider-container">  
          <img
            class="slider-item"
            src="/assets/images/hotel.PNG"
          />
          <img
            class="slider-item"
            src="/assets/images/hotel2.PNG"
          />
        </div>
        <h2>Ubicado a las orillas de la Laguna de Santa María del Oro, que se formó en el cráter de un volcán 
            dormido, Santa María Resort es un complejo turístico estilo "Boutique". </h2>
        <h1>PROCESO DE REGISTRO</h1>
        <h2>Es necesario que el huésped proporcione todos los datos que el recepcionista le solicite para llevar
            a cabo el registro por medio de la aplicacion del hotel. Una vez haya concluido el registro, el recepcionista 
            le indicara cual es su habitación y le dará a conocer la contraseña de la caja de seguridad donde encontrará 
            la llave de su habitación.
        </h2>
        <h1>HORARIOS</h1>
        <img src="/assets/images/horarios.png">
        <h2>El Hotel estará abierto al público de las 8:00 horas a las 21:30 horas, si el huésped desea 
            entrar o salir después de las 21:30 horas, entonces éste deberá de tocar el timbre de la puerta 
            principal. La puerta de acceso al hotel después de las 21:30 horas será abierta y cerrada 
            únicamente por personal del hotel.</h2>
        <h2>ENTRADA:</h2>
        <h2>La hora de registro para entrar a la habitación será de las 15:00 horas 
            en adelante</h2>
        <h2>SALIDA:</h2>
        <h2>La hora de salida deberá ser a más tardar a las 12:00 horas, 
            caso contrario se cobrará una noche adicional de estadía. Para el caso de 
            que por razones personales el huésped tenga que registrar su entrada después 
            de las 20:00 horas este deberá de avisar con 24 horas de anticipación a su llegada</h2>
        <h1>CAJA DE SEGURIDAD</h1>
        <h2>Una vez realizado el registro, el recepcionista le dara a conocer la ubicación de la caja de seguridad
            dentro de la cual se encuentra la llave que contiene el codigo que esta ligado a su habitacion.
            Unicamente tendran acceso a dicha caja el huésped que realizo el registro. Ademas la caja es exclusiva
            de cada huésped.
        </h2><br><br><br>
        
      </div>
    </form>
  </div>
</ion-content>
