<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-img id="headerLogo" src="/assets/images/logo.png" size="xs"></ion-img>
      <ion-label id="headerTitle" align-self-end>REGLAMENTO Y NORMAS</ion-label>  
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  
  <div id="container">
    <form >
      <div class="formulario">
        <h1>REGISTRO</h1>
        <h2>Todo huésped, tanto el individual como el de grupo deberá de proporcionar la información necesaria 
            para realizar el registro. Dicha informacion sera registrada en la aplicacion del hotel por el administrador. </h2>
        <img src="/assets/images/registro.png">
        <h1>INFORMACION POR PARTE DEL HUESPED</h1>
        <h2>Es obligación de los huéspedes informar a la administración 
            del Hotel de padecimientos o enfermedades contagiosas, fallecimientos, 
            infracciones o delitos que acontezcan en el establecimiento y sean de 
            su conocimiento, a fin de que el Hotel pueda a su vez, tomar las 
            medidas oportunas y dar cuenta inmediata a la autoridad cuando proceda.
            Si algún huésped enfermase, la recepción del hotel deberá llamar a un 
            médico y podrá ser atendido en su cuarto con cargo al huésped; sí la 
            enfermedad fuera contagiosa el huésped será trasladado por su cuenta al lugar adecuado.</h2>
        <img src="/assets/images/informacin.png">
        <h1>REGISTRO DEL HUÉSPED AL HOTEL</h1>
        <h2>La hora de registro para entrar a la habitación será de las 15:00 horas 
            en adelante, y la hora de salida deberá ser a más tardar a las 12:00 horas, 
            caso contrario se cobrará una noche adicional de estadía. Para el caso de 
            que por razones personales el huésped tenga que registrar su entrada después 
            de las 20:00 horas este deberá de avisar con 24 horas de anticipación a su llegada
            Recomendamos que a su llegada revise el inventario de la habitación ya que al 
            momento de su retiro será revisado y en caso de faltantes o daños deberán ser 
            cubiertos por el huésped por otro producto igual o en su defecto se cobrará a su precio.</h2>
        <h1>UTILIZACIÓN DE LOS SERVICIOS</h1>
        <h2>Los servicios (agua, electricidad, gas, etc.) prestados por el Hotel deberán utilizarse 
            de conformidad con las normas de buena fe, sin que se entienda incluido en el precio el 
            derroche o utilización desproporcionada de los mismos, ayúdanos a mantener las tarifas bajas 
            y accesibles así como a cuidar el medio ambiente.
            Se pide a los huéspedes el uso moderado y racional de los muebles de la habitación, cuidando 
            de ellos debidamente; de igual manera todo huésped al salir de la habitación, tiene la obligación 
            de dejar cerradas las ventanas, puertas de entrada, llaves de agua y apagar luces.</h2>
        <img src="/assets/images/servicio.png">
        <h1>ESTANCIA EN EL HOTEL</h1>
        <h2>Los huéspedes podrán llevar consigo o dejar en la recepción o administración, las llaves de sus 
            habitaciones hasta antes de las 20:00 horas, cada vez que salgan del establecimiento. No podrán 
            alojar en sus habitaciones a personas diferentes de las registradas y en todo caso, darán aviso 
            previo en la administración de cualquier variación en el número o identificación de las personas 
            que originalmente se registraron. Los visitantes de los clientes no podrán quedarse a pasar la 
            noche. Tampoco podrán venir a disfrutar los servicios personas distintas de las que han realizado 
            la contratación, ni se podrá utilizar el Hotel como lugar de realización de transacciones 
            mercantiles.
            En ningún caso, el número de personas alojadas en cada habitación, podrá ser mayor de la 
            capacidad asignada por el Hotel a cada cuarto.</h2>
        <h1>ACCESO AL HOTEL</h1>
        <h2>El Hotel estará abierto al público de las 8:00 horas a las 21:30 horas, si el huésped desea 
            entrar o salir después de las 21:30 horas, entonces éste deberá de tocar el timbre de la puerta 
            principal. La puerta de acceso al hotel después de las 21:30 horas será abierta y cerrada 
            únicamente por personal del hotel.</h2>
        <img src="/assets/images/acceso.png">
        <h1> LIMPIEZA DE LAS HABITACIONES</h1>
        <h2>La limpieza de habitaciones se realizará en horario de mañana, desde las 9:00 horas a las 12.00 
            horas. Los clientes que no pongan a disposición sus habitaciones durante esas horas no se les 
            realizarán la limpieza de la habitación. Se informa a los huéspedes tanto individuales como grupales,
            de que en este establecimiento se cambian los blancos de la habitación cada tercer noche de estadía 
            por el mismo cliente.</h2>
        <img src="/assets/images/limpieza.png">
        <h1> MEDIDAS DE SEGURIDAD</h1>
        <h2>El huésped deberá de guardar sus objetos de valor lejos del alcance de ninguna persona. Si tiene 
            algún objeto de valor, el hotel no se hace responsable de pérdida o extravió de joyas y valores 
            dejados en las habitaciones.</h2>
        <img src="/assets/images/seguridad.png">
        <h1> SILENCIO Y RESPETO AL RESTO DE CLIENTES Y PERSONAL DEL HOTEL</h1>
        <h2>Desde las 22:00 horas en todas las habitaciones debe moderarse el volumen acústico. Respete también 
            el silencio nocturno en los pasillos y en las escaleras. Desde las 24:00 horas, se pide a los 
            huéspedes silencio absoluto. Se deberá evitar cualquier actuación molesta, para el resto de los 
            huéspedes del hotel.</h2>
        <img src="/assets/images/respeto.png">
        <h1> DESPERFECTOS, SUCIEDAD, PÉRDIDA DE LAS LLAVES</h1>
        <h2>En caso de dañar el inmueble o el mobiliario del hotel, así como de perder las llaves, es el 
            causante quien paga por el daño ocasionado. Pagos de este tipo se realizan inmediatamente y en 
            efectivo (en el caso de grupos el responsable es el organizador y/o representante, por lo que 
            será él quien debe adelantar el importe). Robos o daños intencionados serán denunciados 
            inmediatamente a la policía. Está prohibido ejecutar cualquier acto que ocasione daños o perjuicios 
            al Hotel o a los demás huéspedes, o conductas contrarias al decoro o al comportamiento social.</h2>
        <img src="/assets/images/dañar.png">
        <h1> ACCIDENTES O SUCESOS DENTRO DEL HOTEL</h1>
        <h2>El hotel no se hace responsable de ningún tipo de accidente y/o suceso, que el huésped sufra dentro de 
            las instalaciones del hotel tales como caídas, golpes, picaduras de animales, entre otros. Los gastos 
            que este accidente o suceso originen correrán por cuenta del huésped, eximiendo al hotel de cualquier 
            responsabilidad de carácter legal.</h2>
        <img src="/assets/images/accidente.webp">
        <h1>ESTACIONAMIENTO</h1>
        <h2>El Hotel cuenta con disponibilidad de estacionamiento con un costo adicional, importe que se proporciona 
            en recepción.</h2>
            <img src="/assets/images/estacionamiento.png">
        <h1>PROHIBICIONES</h1>
        <h2>1.- Está prohibido el consumo de drogas tóxicas, estupefacientes o sustancias psicotrópicas, dentro de 
            cualquier área del hotel, de esta infracción se dará cuenta inmediatamente a las autoridades 
            correspondientes.</h2>
        <h2>2.- Queda prohibido alterar el orden o causar molestias a los demás usuarios dentro del establecimiento, 
            usar la corriente eléctrica y los equipos mecánicos instalados en las habitaciones para otros fines que 
            no sean a los que se están destinados.</h2>
        <img src="/assets/images/prohibido.webp">
        <h1>INCUMPLIMIENTO DE LAS NORMAS DEL HOTEL</h1>
        <h2>En caso de infracción de una o más de las condiciones y/o prohibiciones citadas anteriormente, el Hotel 
            tiene el derecho de rescindir inmediatamente el contrato de alojamiento. El cliente queda igualmente 
            obligado a pagar por todos los días de alojamiento fijados en la reserva.
            Quedan a salvo los derechos del establecimiento como de los huéspedes para denunciar ante las autoridades 
            competentes los hechos que constituyan algún ilícito o que dieran lugar a responsabilidad por alguna de 
            las partes en sus personas y bienes, siempre y cuando ocurren dentro del hotel.</h2>
            <img src="/assets/images/incumplir.png">
        <h1>IMPORTANTE:</h1>
        <h2>Se da por entendido que al momento de hacer efectiva la reserva, el cliente y/o huésped conoce y manifiesta 
            expresa y tácitamente que acepta en su totalidad el presente reglamento interno del Hotel, estando 
            conforme y de acuerdo con todos los puntos antes mencionados.</h2><br><br><br>
      </div>
    </form>
  </div>
</ion-content>
