<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-img id="headerLogo" src="/assets/images/logo.png" size="xs"></ion-img>
      <ion-label id="headerTitle" align-self-end>ACTIVIDADES</ion-label>  
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  
  <div id="container">
    <form >
      <div class="formulario">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Esquí acuático</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <img src="/assets/images/EsquiAcuatico.jpg">
              <h2>(incluye dona y banana, es para 4-5 personas)
                  Actividad que mezcla el surf y el esquí. Este deporte en el que se alcanzan altas velocidades, 
                  exige buenos reflejos y equilibrio. Estarás sobre el agua agarrado una cuerda tirada por una 
                  lancha de gran potencia, realizando maniobras espectaculares.</h2>
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label>Rapel</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <img src="/assets/images/rapel.jpg">
              <h2>(Cascadas de la comunidad Real de Acuitapilco) Con un arnés, una soga y un descensor, podrás 
                  bajar de un modo seguro por una pared vertical, sorteando un precipicio acompañado de la 
                  caída de agua de la cascada de “La Silla”.</h2>
            </div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <ion-label>Kayaking</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <img src="/assets/images/kayaking.jpg">
              <h2>​La Laguna de Santa María del Oro, por su tranquilidad, nos ofrece la posibilidad de usar un 
                  remo de dos hojas y, por supuesto, un kayak, con toda seguridad.
                  No te preocupes si es tu primera vez, ¡es muy fácil! Disfruta de sus paisajes y la 
                  tranquilidad de sus aguas. Te ofrecemos un recorrido de lo más apasionante, no debes 
                  preocuparte por nada, solo por disfrutar.</h2>
            </div>
          </ion-accordion>
          <ion-accordion value="fourd">
            <ion-item slot="header" color="light">
              <ion-label>Ceremonia Huichol</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <img src="/assets/images/ceremonia.jpg">
              <h2>Sé testigo de una aventura que no podrás olvidar dentro de nuestras instalaciones. Entraremos 
                  a un mundo en el que pocos han entrado. La combinación perfecta entre la naturaleza, el 
                  misticismo de la laguna y la cultura huichol en su máxima expresión, disfrutando de espectaculares 
                  paisajes conviviendo con una cultura que manifiesta su forma de ver el mundo a través de su vestimenta, 
                  tradiciones, gastronomía y artesanía. Esta aventura incluye:</h2>
              <h2>1.-Ritual del fuego</h2>
              <h2>2.-Limpia de energías con el Marakame</h2>
              <h2>3.-Taller de elaboración de arte huichol</h2>
              <h2>4.-Peregrinación por las instalaciones del Hotel</h2>
              <h2>5.-Sanación y liberación de mala vibras</h2>
              <h2>6.-Ambientación con música autóctona.</h2><br><br><br>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-row>
          <ion-label id="headerTitle" align-self-end>HISTORIA</ion-label>  
        </ion-row>
        <ion-accordion-group>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label>SAMAO</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <h2>La laguna de Santa María del Oro es un ícono del estado de Nayarit por su misticismo, por su 
                  leyenda , por el aire puro y la naturaleza que la rodea.</h2> 
              <h2>Dice la leyenda que en un poblado 
                  antiguo de nombre Michiztlán vivía un rey que tenía una hija hermosa. La muchacha se enamoró 
                  de un joven del pueblo enemigo. Cuando el rey se dio cuenta de esto, se enfureció y mandó a 
                  sus soldados a que amarraran a los jóvenes a un poste. Al verse tan cerca pero a la vez tan 
                  lejos, los enamorados lloraron sin parar durante días hasta que formaron la laguna.</h2>
              <img src="/assets/images/samao.webp">
              <h2>La laguna mide casi 2.25 kilómetros de largo por 1.2 km de ancho y está dentro de un cráter 
                  volcánico que se formó por la caída de un meteorito hace miles de años.Aquel impacto atravesó 
                  profundas capas de tierra dando una profundidad a la laguna de 60 mts.</h2>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-row>
          <ion-label id="headerTitle" align-self-end>NUMEROS DE EMERGENCIA</ion-label>  
        </ion-row>
        <ion-accordion-group>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label>Información</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <h1>Cruz Roja: 213-11-60</h1>
              <h1>Bomberos: 213-16-07, 213-18-09</h1>
              <h1>ISSTE: 213-12-95</h1>
              <h1>IMSS: 212-38-38</h1>     
              <h1>Emergencias: 066</h1>
              <h1>Policía Municipal de Tepic: 214-61-68</h1><br><br><br>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </form>
  </div>
</ion-content>
