<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Huésped {{guest.id}}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{guest.habitacion}}</ion-card-subtitle>
      <ion-card-title>{{guest.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <label><b>Teléfono: </b>{{guest.phone}}</label><br><br>
      <label><b>Fecha de entrada: </b> {{guest.fechaInicio}}</label><br><br>
      <label><b>Fecha de salida: </b> {{guest.fechaInicio}}</label><br><br>
      <label><b>Habitación: </b> {{guest.habitacion}} <b>   Token: </b> {{guest.token}}</label><br><br>
      <label><b>Anticipo: $</b>{{guest.pay}}</label><br><br>
      
    </ion-card-content>
  </ion-card>
</ion-content>
